{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "dist/index.js",
            "label": "Node executable file"
          },
          {
            "path": "dist/package.json",
            "label": "Module file"
          }
        ]
      }
    ]
  ]
}
